<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">


<bean id="isci" class="com.v.IsciOzlukDosyasi" scope="singleton"/>
<bean id="memur" class="com.v.MemurOzlukDosyasi" scope="prototype"/>


<bean id="ali" class="com.v.Personel"> 
<constructor-arg value="ali"/>
<constructor-arg value="can"/>
<property name="ozlukdosyasi" ref="isci" />

</bean>



<bean id="veli" class="com.v.Personel"> 
<constructor-arg value="veli"/>
<constructor-arg value="yıldız"/>
<property name="ozlukdosyasi" ref="memur" />

</bean>

<context:property-placeholder location="classpath:myfile"/>

<bean id="yeni_baskan" class="com.v.Personel"> 
<constructor-arg value="${baskan.isim}"/>
<constructor-arg value="${baskan.soyisim}"/>
<property name="ozlukdosyasi" ref="memur" />

</bean>

</beans>